<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactName</key>
	<string>Craig Mink</string>
	<key>description</key>
	<string>BrightScript Language Syntax for Roku and BrightSign programming.</string>
	<key>name</key>
	<string>BrightScript</string>
	<key>ordering</key>
	<array>
		<string>291022B4-6B1D-11D9-90EB-000D93589AF6</string>
	</array>
	<key>uuid</key>
	<string>CEB96D18-AE24-4524-B585-0B28E5D1AEB6</string>
</dict>
</plist>
